# Database
DB_ROOT_PASSWORD={{ lookup('vars', item.name + '_mysql_root_password') }}
DB_NAME={{ item.db_name | default('wordpress') }}
DB_USER={{ item.db_user | default('wordpress') }}
DB_PASSWORD={{ lookup('vars', item.name + '_mysql_password') }}

# WordPress Table Prefix
WP_TABLE_PREFIX={{ item.table_prefix | default('wp_') }}

# WordPress Keys
WP_AUTH_KEY={{ lookup('vars', item.name + '_wp_auth_key') }}
WP_SECURE_AUTH_KEY={{ lookup('vars', item.name + '_wp_secure_auth_key') }}
WP_LOGGED_IN_KEY={{ lookup('vars', item.name + '_wp_logged_in_key') }}
WP_NONCE_KEY={{ lookup('vars', item.name + '_wp_nonce_key') }}
WP_AUTH_SALT={{ lookup('vars', item.name + '_wp_auth_salt') }}
WP_SECURE_AUTH_SALT={{ lookup('vars', item.name + '_wp_secure_auth_salt') }}
WP_LOGGED_IN_SALT={{ lookup('vars', item.name + '_wp_logged_in_salt') }}
WP_NONCE_SALT={{ lookup('vars', item.name + '_wp_nonce_salt') }}
