# Nextcloud Database
DB_PASSWORD={{ lookup('vars', item.name + '_db_password') }}

# Nextcloud Admin Account
NEXTCLOUD_ADMIN_USER={{ item.admin_user | default('admin') }}
NEXTCLOUD_ADMIN_PASSWORD={{ lookup('vars', item.name + '_admin_password') }}
